@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 160 234 66;
		--color-dark: 28 28 33;
		--color-light: 152 152 152;
		/* --max-width-section: 1324px; */
		--max-width-section: 1400px;
	}

	body {
		min-height: 100dvh;
		overflow-y: scroll;
		@apply font-sans;
	}

	a {
		@apply focus:outline-none focus:ring focus:ring-primary;
	}

	header a {
		@apply focus:ring-offset-4 rounded-md;
	}

	footer a {
		@apply focus:ring-offset-4 focus:ring-offset-black rounded-sm;
	}
}

@layer utilities {
	.border-hada {
		@apply border-2 lg:border-[3px] border-black rounded-2xl lg:rounded-large overflow-hidden;
	}

	.border-hada-light {
		@apply border-2 lg:border-[3px] border-white rounded-xl lg:rounded-large overflow-hidden;
	}

	.btn:hover span {
		width: 225%;
		height: calc(14rem * 2.25);
	}
	.btn > span {
		width: 0;
		height: 0;
		border-radius: 50%;
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	.icons svg {
		width: 100%;
		height: 100%;
	}
}
