@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 160 234 66;
		--color-dark: 28 28 33;
		--color-light: 152 152 152;
	}
}

body {
	min-height: 100dvh;
	overflow-y: scroll;
}
